<!DOCTYPE html>
<html>
  <head>
  	<title>SOSial</title>
  	<script src="javascript/jquery.js"></script>
    <link rel="stylesheet" href="css/style.css"> 

  </head>
  <body>
	<center><div title="logo"><img src="https://image.ibb.co/k0fnvq/Sosial-title.png" height="130px"></div></center>
	<center>
	<div id="map">
	    <script type="text/javascript" src="javascript/map.js"></script>
	    <script async defer
	    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWuBXBxA-dDH1XeT-kQNoxDRoLgGQfNnw&callback=initMap">
	    </script>
	</div>
	</center>
  </body>
</html>