<!DOCTYPE html>
<html>
  <head>
    <title>SOSial</title>
    <script
              src="https://code.jquery.com/jquery-3.3.1.min.js"
              integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
              crossorigin="anonymous">
    </script>
        <style>
            body {
                color: black;
                background-color: #242f3e;
            }

            #logo,#map {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
    
            #map {
                height: 100%;
                width: 100%;
                z-index: -1;
            }
        </style>
  </head>
  
  <body>
    <center><div title="logo"><img src="https://image.ibb.co/k0fnvq/Sosial-title.png" height="130px"></div></center>
    <center>
    <div id="map">
        <script>
            function initMap() 
            {
              var loc = {lat:-33.92, lng:151.25};
              var map = new google.maps.Map(document.getElementById('map'), {
                      center: loc,
                      zoom: 9,
                      styles: [
                        {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
                        {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
                        {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
                        {
                          featureType: 'administrative.locality',
                          elementType: 'labels.text.fill',
                          stylers: [{color: '#d59563'}]
                        },
                        {
                          featureType: 'poi',
                          elementType: 'labels.text.fill',
                          stylers: [{color: '#d59563'}]
                        },
                        {
                          featureType: 'poi.park',
                          elementType: 'geometry',
                          stylers: [{color: '#263c3f'}]
                        },
                        {
                          featureType: 'poi.park',
                          elementType: 'labels.text.fill',
                          stylers: [{color: '#6b9a76'}]
                        },
                        {
                          featureType: 'road',
                          elementType: 'geometry',
                          stylers: [{color: '#38414e'}]
                        },
                        {
                          featureType: 'road',
                          elementType: 'geometry.stroke',
                          stylers: [{color: '#212a37'}]
                        },
                        {
                          featureType: 'road',
                          elementType: 'labels.text.fill',
                          stylers: [{color: '#9ca5b3'}]
                        },
                        {
                          featureType: 'road.highway',
                          elementType: 'geometry',
                          stylers: [{color: '#746855'}]
                        },
                        {
                          featureType: 'road.highway',
                          elementType: 'geometry.stroke',
                          stylers: [{color: '#1f2835'}]
                        },
                        {
                          featureType: 'road.highway',
                          elementType: 'labels.text.fill',
                          stylers: [{color: '#f3d19c'}]
                        },
                        {
                          featureType: 'transit',
                          elementType: 'geometry',
                          stylers: [{color: '#2f3948'}]
                        },
                        {
                          featureType: 'transit.station',
                          elementType: 'labels.text.fill',
                          stylers: [{color: '#d59563'}]
                        },
                        {
                          featureType: 'water',
                          elementType: 'geometry',
                          stylers: [{color: '#17263c'}]
                        },
                        {
                          featureType: 'water',
                          elementType: 'labels.text.fill',
                          stylers: [{color: '#515c6d'}]
                        },
                        {
                          featureType: 'water',
                          elementType: 'labels.text.stroke',
                          stylers: [{color: '#17263c'}]
                        }
                      ]
                    });

                    var locations;
                    var marker, i;
                    $.getJSON("map", function(json) {
                      locations = json;
                      var len = Object.keys(locations).length;
                      var bounds = new google.maps.LatLngBounds();
                      for (i = 0; i < len; i++) {
                          marker = new google.maps.Marker({
                          position: new google.maps.LatLng(locations[i][0], locations[i][1]),
                          map: map
                        });
                      }
                    });
            }

        </script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWuBXBxA-dDH1XeT-kQNoxDRoLgGQfNnw&callback=initMap">
        </script>
    </div>
    </center>
  </body>
</html>